@import "tailwindcss";
@plugin "daisyui";

html {
    scroll-behavior: smooth;
    scrollbar-width: none;     /* Firefox */
   -ms-overflow-style: none;  /* IE 10+ */
}

@utility btn-primary{
    @apply bg-green-600 hover:bg-green-600/80 cursor-pointer text-white rounded-lg outline-0 border-none;
}

@utility btn-outline{
    @apply border border-green-600 text-green-600 cursor-pointer rounded-lg hover:bg-green-600 hover:text-white;
}

.bg-accent{
    @apply bg-green-50;
}

.text-primary{
    @apply text-green-800;
}

.text-secondary{
    @apply text-green-100;
}

@utility btn-link{
    @apply text-green-700/80 hover:text-green-600/80;
}

.bg-primary{
    @apply bg-green-800;
}

.input{
    @apply border-slate-200 bg-inherit placeholder:text-slate-400 w-full;
}

.radio-primary {
    @apply bg-white border-green-700 rounded-full text-green-700;
}

h1, h2, h3, h4, h5, h6{
    @apply text-green-800;
}

body{
    @apply text-slate-600;
    font-family: "Segoe UI", sans-serif;
}

